{{#foundation-modal onClose=(route-action "goToProducts") as |close|}}
  <section class="row column">
      <h3>{{product.name}}</h3>
  </section>
  {{#if addSlideshow}}
    {{foundation-orbit images=product.images size='large' useLightGallery=true}}
  {{else if addSingleImage}}
    <section class="row expanded single-image">
      <div data-src="{{firstImage.full}}">
        <img src="{{firstImage.large}}" >
      </div>
    </section>
  {{/if}}
  <section class="row align-right">
    <div class="columns small-12 medium-6">
      <h4 class="subheader">
        Activity
      </h4>
      <p>{{activity.name}} - {{category.name}}</p>
    </div>
    <div class="columns small-12 medium-6">
      <div class="row">
        {{product-icons product=product}}
      </div>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <h4 class="subheader">
        Description
      </h4>
      <p>{{{product.description}}}</p>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <h4 class="subheader">
        Cancellation Policy
      </h4>
      <p>100% refund up to {{product.vendor.cancellationPolicyDays}} days before the trip.</p>
    </div>
  </section>
  {{booking-form product=product date=date
    cancel=(action close)
    submit=(route-action "book" product)}}
{{/foundation-modal}}
