<div class="row selected-experience">
  <div class="columns small-12 medium-4 large-5">
    <img src="{{placehold-it experience.image.full '630x450'}}">
  </div>

  <div class="columns small-12 medium-8 large-7">
    {{#if (gt experiences.length 1)}}
    <div class="row columns show-for-small-only align-right">
      <p class="next-experience">
        {{next-experience-link currentExperience=experience experiences=experiences}}
      </p>
    </div>
    {{/if}}
    
    <div class="row columns">
      <p class="experience-label">Experience:</p>
    </div>
    <div class="row columns">
      <p class="experience-title">{{experience.name}}</p>
    </div>
    <div class="row columns">
      <p class="experience-description">{{experience.description}}</p>
    </div>

    {{#if (gt experiences.length 1)}}
    <div class="row columns">
      <p class="next-experience show-for-medium">
        {{next-experience-link currentExperience=experience experiences=experiences}}
      </p>
    </div>

    <div class="row">
      <div class="columns text-right">
        <p class="no-margin other-experience-p show-for-large">Other {{activeCategoryName}} Experiences:</p>
      </div>
    </div>

    {{experience-slider currentExperience=experience experiences=experiences}}
    {{/if}}
  </div>
</div>

{{outlet}}
