<header class="product-filters-header row align-justify">
  <h3 class="filters-label">Filters:</h3>
  <button class="clear hollow button small" {{action "clearFilters"}}>Clear</button>
</header>
<ul class="product-filters">
{{!----- date -------}}
{{#grid-accordion tagName="li" class="filter" as |accordion|}}
  <h4 onClick={{action accordion.toggle}}>
    Pick A Date
    {{chevron-icon direction=(if accordion.isExpanded 'up' 'down')}}
  </h4>

  {{#grid-accordion-body isExpanded=accordion.isExpanded}}
    {{#if date}}
    <div class="row align-center">
      <button class="text-center" {{action "changeDate" null}}>
        Clear Date <i class="fa fa-remove"></i>
      </button>
    </div>
    {{/if}}
    {{product-date-picker products=filteredProducts date=date changeDate=(action 'changeDate')}}
  {{/grid-accordion-body}}
{{/grid-accordion}}
{{!----- time -------}}
{{#grid-accordion tagName="li" class="filter" as |accordion|}}
  <h4 onClick={{action accordion.toggle}}>
    Start Time
    {{#if timeFilter.length}}
    ({{timeFilter.length}})
    {{/if}}
    {{chevron-icon direction=(if accordion.isExpanded 'up' 'down')}}
  </h4>

  {{#grid-accordion-body isExpanded=accordion.isExpanded}}
    {{filter-selector
      clearButtonLabel="All Times"
      options=times valuePath="value"
      selectedValues=timeFilter
      onSelect=(action "toggleFilter" timeFilter)
      clear=(action "clearFilter" "timeFilter")
    }}
  {{/grid-accordion-body}}
{{/grid-accordion}}
{{!----- vendor -------}}
{{#grid-accordion tagName="li" class="filter" as |accordion|}}
  <h4 onClick={{action accordion.toggle}}>
    Vendors
    {{#if vendorFilter.length}}
    ({{vendorFilter.length}})
    {{/if}}
    {{chevron-icon direction=(if accordion.isExpanded 'up' 'down')}}
  </h4>

  {{#grid-accordion-body isExpanded=accordion.isExpanded}}
    {{filter-selector
      clearButtonLabel="All Vendors"
      options=vendors valuePath="slug"
      selectedValues=vendorFilter
      onSelect=(action "toggleFilter" vendorFilter)
      clear=(action "clearFilter" "vendorFilter")
    }}
  {{/grid-accordion-body}}
{{/grid-accordion}}
{{!----- amenities -------}}
{{#each amenities as |amenity|}}
{{#grid-accordion tagName="li" class="filter" as |accordion|}}
  <h4 onClick={{action accordion.toggle}}>
    {{amenity.name}}
    {{selectedAmenityOptionCount amenity.options amenityOptionFilter}}
    {{chevron-icon direction=(if accordion.isExpanded 'up' 'down')}}
  </h4>

  {{#grid-accordion-body isExpanded=accordion.isExpanded}}
    {{filter-selector
      clearButtonLabel="All"
      options=amenity.options valuePath="id"
      selectedValues=amenityOptionFilter
      onSelect=(action "toggleFilter" amenityOptionFilter)
      clear=(action "clearAmenityFilter" amenity)
    }}
  {{/grid-accordion-body}}
{{/grid-accordion}}
{{/each}}
</ul>
