<div class="top-elements">
  {{activity-navigator-bar activities=activities currentActivity=activity currentCategory=category}}
  <div class="row product-bar align-justify">
    <div class="column product-count">
      <p>
        Showing <span>{{dateFilteredProducts.length}}</span>
        result{{if (not-eq dateFilteredProducts.length 1) 's'}}
      </p>
    </div>
    <div class="column product-sort text-right">
      <span>
        Sort By:
      </span>
      <button type="button" data-toggle="product-sorter" onClick={{action 'toggleDisplaySort'}}>
        {{sort}}
        {{chevron-icon direction=(if displaySort 'up' 'down')}}
      </button>
      {{#foundation-dropdown id="product-sorter" class="product-sorter-dropdown"
        show=displaySort onClose=(action 'hideSort')
      }}
        {{product-sorter
          onSelect=(action "updateSortParam")
          sort=sort}}
      {{/foundation-dropdown}}
    </div>
  </div>
</div>

<main class="row align-center products align-stretch">
  {{#item-sorter items=dateFilteredProducts by=currentSortOrder as |product|}}
    <div class="columns small-11 medium-5 large-3">
      {{new-product-card product=product}}
    </div>
    {{else}}
    <p>There are no products available on this date.  Please select a different activity or date using the calendar above.</p>
  {{/item-sorter}}
</main>

{{outlet}}
