
<div class="input-group body-count">
  {{#unless hasBlock}}
  <label>
    {{price.name}}
    {{foundation-tooltip tipText=price.description}}
  </label>
  {{/unless}}
  <div onclick={{action "decrement"}} class="input-group-button">
    <span class="fi flaticon-minus {{if (eq quantity minimum) 'disabled'}}"></span>
  </div>

  {{input value=quantity type="number" class="input-group-field"}}

  <div onclick={{action "increment"}} class="input-group-button">
    <span class="fi flaticon-plus {{if (and maximum (eq quantity maximum)) 'disabled'}}"></span>
  </div>
  {{#if showAmountLabel}}
  <div class="amount-label">
    ${{amount.amount}} per
    {{#if (gt price.people_count 1)}}
      {{price.people_count}} people
    {{else}}
      person
    {{/if}}
  </div>
  {{/if}}
  {{yield cost amount}}
</div>
