{{#unless hasBlock}}
<label>
  {{price.name}}
  {{foundation-tooltip tipText=price.description}}
</label>
{{/unless}}
<div class="input-group body-count">
  <div onclick={{action "decrement"}} class="input-group-button">
    <span class="fa fa-minus-square"></span>
  </div>

  {{input value=quantity type="number" class="input-group-field"}}

  <div onclick={{action "increment"}} class="input-group-button">
    <span class="fa fa-plus-square"></span>
  </div>
  {{yield cost}}
</div>
