<header class="row expanded header-image {{if images "header-gallery"}}" style="background-image: url({{image.full}})" {{action "showLightGallery"}}>
  {{#if (gt images.length 1)}}
    <div class="photo-gallery-hover row">
      <span class="fi flaticon-photo-gallery column shrink"></span>
      <span class="hover-text column expand">Click for more images</span>
    </div>
    <div class="darken-overlay-hover"></div>
  {{/if}}
  <img src="{{image.full}}" alt="{{image.alt}}">
</header>
