<section class="trip-details">
  <header>
    <h3 class="text-center">Enter Your Trip Details</h3>
  </header>
  <div class="row align-left body-count">
    <div class="columns shrink">
      {{amount-quantity-input price=product.defaultPrice quantities=quantities onChange=(action "updateQuantity" product.defaultPrice) showAmountLabel=true}}
    </div>
    {{#each product.prices as |price|}}
    {{#unless (eq price.id product.defaultPrice.id)}}
    <div class="columns shrink">
      {{amount-quantity-input price=price quantities=quantities onChange=(action "updateQuantity" price) showAmountLabel=true}}
    </div>
    {{/unless}}
    {{/each}}
  </div>
  <hr>
  <div class="row align-center date-selection">
    <div class="columns small-12 medium-6 date">
      <label>Select a date</label>
      {{product-date-picker product=product date=date changeDate=(action "updateDate")}}
    </div>
  </div>
  <hr>
  <div class="row align-center time-selection">
    <div class="columns small-12 medium-6 time">
      {{time-selector date=date times=product.startTimes onChange=(action "updateTime")}}
    </div>
  </div>
</section>
<section class="booking-totals">
  {{#each quantities as |quantity|}}
  {{#if quantity.quantity}}
  <div class="row align-justify">
    <span class="column">
      {{quantity.quantity}} &times; {{get (find-by product.prices 'id' quantity.id) 'name'}}
    </span>
    <span class="column text-right">
      ${{quantity.cost}}
    </span>
  </div>
  <hr class="column">
  {{/if}}
  {{/each}}
  <div class="row align-justify">
    <span class="column">Total</span>
    <span class="column text-right">${{total}}</span>
  </div>
</section>
<section class="column small-12 text-center">
  <button onclick={{action "submit"}} type="button" class="{{unless canProceed "disabled hollow"}} button primary large button-next">
    Add to cart
  </button>
</section>
