<h2 class="page-title">Complete Your Reservation Request(s)</h2>
<p class="page-subtitle">
  Your payment information is needed in order to hold each reservation.
  Your card will only be charged if and when the vendor confirms your booking
  (within the next 24 hours).
</p>
<hr>
<div class="row align-center">
  {{#if cartErrors}}
  <div class="row small-10">
    <p class="cart-error column small-10 ">Sorry, we could not complete your order at this time.</p>
  </div>
  {{/if}}
  <fieldset class="fieldset columns small-10">
    <legend>Credit Card</legend>
    <div class="row">
      <div class="columns small-7">
        {{input value=ccName name="ccname" placeholder="Name on Card *"}}
      </div>
    </div>
    <div class="row">
      <div class="columns small-7">
        {{input value=ccNumber name="ccnumber" placeholder="Credit Card Number *"}}
      </div>
    </div>
    <div class="row">
      <div class="columns">
        {{input value=ccMonth name="ccmonth" placeholder="Exp. Month (mm) *" maxlength="2"}}
      </div>
      <div class="columns">
        {{input value=ccYear name="ccyear" placeholder="Exp. Year (yy) *" maxlength="2"}}
      </div>
      <div class="columns">
        {{input value=ccCode name="cccode" placeholder="CVC Security Code *" maxlength="4"}}
      </div>
    </div>
    {{#if cardErrorMessage}}
    <div class="row small-10">
      <p class="cart-error column small-10 ">{{cardErrorMessage}}</p>
    </div>
    {{/if}}
  </fieldset>
  <fieldset class="fieldset columns small-10">
    <legend>Contact Information</legend>
    <div class="row">
      <div class="columns">
        {{input value=name name="name" placeholder="Name *"}}
      </div>
      <div class="columns">
        {{input value=email name="email" placeholder="Email *" type="email"}}
      </div>
      <div class="columns">
        {{input value=phone name="phone" placeholder="Phone *"}}
      </div>
    </div>
    {{#if contactErrorMessage}}
    <div class="row small-10">
      <p class="cart-error column small-10 ">{{contactErrorMessage}}</p>
    </div>
    {{/if}}
  </fieldset>
</div>
<div class="row checkout-footer align-center">
  <p class="column small-8 tou-disclaimer">
    By clicking "Submit Requests" you confirm that you agree to the
    <a target="_blank" href="/about/terms" class="tou">Outpost Terms of Use</a>
  </p>
  <div class="column small-8 text-center">
    <div class="row column">
      <button class="large button column small-12 {{unless valid "disabled"}}" id="submit-request" type="submit">Submit Request(s)</button>
    </div>
  </div>
  <div class="column small-8 text-center">
    <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=book.outpostjh.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
  </div>
</div>
