<div class="row product-header">
  <img src="{{product.image.medium}}" alt="{{product.image.alt}}" title="{{product.image.title}}">
  <div class="product-details column small-4 align-self-bottom shrink">
    {{new-price-display price=product.defaultPrice}}
  </div>
</div>
<div class="row product-body align-bottom">
  <div class="product-name column small-12">
    <p class="product-title">{{product.name}}</p>
  </div>
  {{new-product-icons product=product}}
</div>
