<div class="row product-header">
  <div class="shrink column">
    <div class="vendor-image" style="background-image: url('{{placehold-it product.vendor.defaultImage.full '75x75'}}');" />
  </div>
  <div class="columns expand">
    {{#with product.vendor as |vendor|}}
    <p class="vendor-name">{{vendor.name}}</p>
    {{!--
    must conform to tripadvisor requirements,
    see https://developer-tripadvisor.com/content-api/display-requirements/
    --}}
      {{#if vendor.tripadvisorUrl}}
      <p class="tripadvisor-text">TripAdvisor Traveler Rating</p>
      <img class="tripadvisor-rating-image" src="{{vendor.tripadvisorRatingImageUrl}}">
      <a href="{{vendor.tripadvisorUrl}}" class="tripadvisor-reviews-count" target="_blank">{{vendor.tripadvisorReviewsCount}} Reviews</a>
      {{/if}}
    {{/with}}
  </div>
</div>
<div class="row product-body">
  <div class="product-name column small-12">
    <p>{{link-to product.name "explore.experience.products.book" product}}</p>
  </div>
  {{product-icons product=product}}
  <div class="product-description column small-12">
    <p>{{truncate product.description limit=180}}</p>
  </div>
  {{#each product.prices as |price|}}
    {{price-display price=price}}
  {{/each}}
</div>
<div class="row product-footer text-center">
  <div class="column">
    <p class="request-to-book">{{link-to "Click To Book" "explore.experience.products.book" product}}</p>
  </div>
</div>
