<div class="row product-header">
  <div class="shrink column">
    <div class="vendor-image" style="background-image: url('{{placehold-it product.vendor.defaultImage.full '75x75'}}');" />
  </div>
  <div class="columns expand">
    {{#with product.vendor as |vendor|}}
    <p class="vendor-name truncate">{{vendor.name}}</p>
    {{!--
    must conform to tripadvisor requirements,
    see https://developer-tripadvisor.com/content-api/display-requirements/
    --}}
      {{#if vendor.hasTripadvisor}}
      <p class="tripadvisor-text">TripAdvisor Traveler Rating</p>
      <img class="tripadvisor-rating-image" src="{{vendor.tripadvisorRatingImageUrl}}">
      <div class="row">
        <a href="{{vendor.tripadvisorUrl}}" class="tripadvisor-reviews-count columns small-12 large-6" target="_blank">{{vendor.tripadvisorReviewsCount}} Reviews</a>
        <a href="{{vendor.tripadvisorReviewUrl}}" class="tripadvisor-reviews-count columns small-12 large-6" target="_blank">Write a Review</a>
      </div>
      {{/if}}
    {{/with}}
  </div>
</div>
<div class="row product-body">
  <div class="product-name column small-12">
    <p>{{link-to product.name "explore.experience.products.book" product}}</p>
  </div>
  {{product-icons product=product}}
  {{product-description product=product}}
  {{price-display price=product.defaultPrice}}
  {{#if (gt product.prices.length 1)}}
  <div class="columns small-12 more-prices">
    {{link-to "Complete Price List" "explore.experience.products.book" product}}
  </div>
  {{/if}}
</div>
<div class="row product-footer text-center">
  <div class="column">
    <p class="request-to-book">{{link-to "Click To Book" "explore.experience.products.book" product}}</p>
  </div>
</div>
