<div class="row product-header">
  <img class="product-image" src="{{product.image.medium}}" alt="{{product.image.alt}}" title="{{product.image.title}}">
  <div class="product-details {{unless product.vendor.image.thumb 'no-image'}}">
    <img class="vendor-icon" src="{{product.vendor.image.thumb}}" alt="{{product.vendor.image.alt}}">
    <p class="price"><span>from</span> ${{product.minDefaultPrice}}</p>
  </div>
</div>
<div class="row product-body align-bottom">
  <div class="product-name column small-12">
    <p class="product-title">{{product.name}}</p>
  </div>
  {{new-product-icons product=product}}
</div>
