<div class="row product-header">
  <div class="shrink column">
    <div class="vendor-image" style="background-image: url('{{placehold-it product.vendor.defaultImage.full '75x75'}}');" />
  </div>
  <div class="columns expand">
    {{#with product.vendor as |vendor|}}
    <p class="vendor-name">{{vendor.name}}</p>
    {{!--
    must conform to tripadvisor requirements,
    see https://developer-tripadvisor.com/content-api/display-requirements/
    --}}
    <p class="tripadvisor-text">TripAdvisor Traveler Rating</p>
    <img class="tripadvisor-rating-image" src="{{vendor.tripadvisorRatingImageUrl}}">
    <a href="{{vendor.tripadvisorUrl}}" class="tripadvisor-reviews-count" target="_blank">{{vendor.tripadvisorReviewsCount}} Reviews</a>
    {{/with}}

    {{#unless product.pickup}}
    <p class="meeting-address">
      {{#with product.meetingLocation as |loc|}}
      {{loc.address1}}{{#if loc.address2}} , {{loc.address2}}{{/if}}
      <br>
      {{loc.city}}, {{loc.state}} {{loc.zip}}
      {{/with}}
    </p>
    {{/unless}}
  </div>
</div>
<div class="row product-body">
  <div class="product-name column small-12">
    <p>{{product.name}}</p>
  </div>
  {{product-icons product=product}}
  <div class="product-description column small-12">
    <p>{{product.description}}</p>
  </div>
  {{#each product.prices as |price|}}
    {{price-display price=price}}
  {{/each}}
</div>
<div class="row product-footer align-center">
  <div class="large-7">
    <div class="request-to-book">
      <p>{{link-to "Request To Book" "experiences.experience.products.book" product}}</p>
    </div>
  </div>
</div>
