<div class="top-row">
  <div class="booked row align-middle">
    <div class="column small-1 text-left">
      <i class="flaticon-checkmark fi"></i>
    </div>
    <div class="column small-11 medium-8">
      <p>Added to Cart: <span class="darker">"{{booking.product.name}}"</span></p>
      {{#cart-summary bookings=bookings as |itemCount subtotal|}}
      <p>
         Cart subtotal ({{itemCount}} {{if (eq itemCount 1) "item" "items"}}): <span>{{format-number subtotal format='$0,0[.]00'}}</span>
      </p>
      {{/cart-summary}}
    </div>
    <div class="column small-12 medium-expand text-right">
      <button class="button large">Proceed to Checkout</button>
    </div>
  </div>
</div>
<div class="row align-center">
   <div class="columns small-12 medium-6 large-8" >
      <h1 class="page-title">Activities</h1>
      <p class="page-subtitle">
         Search, Discover &amp; reserve the various activities offered in Jackson Hole.
         <br>
         Hover over an activity to learn more.
      </p>
   </div>
</div>
<div class="row align-spaced activities expanded">
  {{#each activities as |activity|}}
    {{activity-card activity=activity}}
  {{/each}}
</div>
