<div class="top-row row align-middle align-center">
  <div class="columns small-12 medium-7 medium-offset-2">
    <h1 class="page-title">Your Cart</h1>
    <p class="page-subtitle">Please review the items below and make any necessary changes.</p>
  </div>
  <div class="column small-12 medium-3 text-center medium-text-right">
    {{#link-to 'cart.share' class="button small" disabledWhen=(lte bookings.length 0)}}
      <i class="fa fa-share-square-o"></i>
      Share Your Cart
    {{/link-to}}
    {{link-to "Proceed to Checkout" 'cart.checkout' class="button large" disabledWhen=(lte bookings.length 0)}}
  </div>
</div>
<main class="row cart align-center expanded">
  <div class="columns small-12 large-11">
    {{#cart-summary bookings=bookings classNames="checkout-data row align-justify" as |itemCount total|}}
    <p class="cart-item-count">
      Displaying <span class="count">{{itemCount}}</span> Item{{if (not-eq itemCount 1) "s"}}
    </p>
    <p class="cart-total">
      <span class="total-text">total</span>
      <span class="total-amount">{{format-number total format='$0,0[.]00'}}</span>
    </p>
    {{/cart-summary}}
  </div>

  {{#item-sorter items=bookings by=sort as |booking|}}
  <section class="booking columns small-12 large-11">
    <div class="row expanded">
      <div class="columns booking-image small-12 text-center xlarge-text-left xlarge-3">
        <img src="{{placehold-it booking.experience.image.medium '300x250'}}" alt="">
      </div>
      <div class="columns small-12 xlarge-9 booking-data">
        <h2>{{booking.product.name}}</h2>
        <div class="row">
          <dl class="columns dl-horizontal small-12 medium-6 large-4">
            <dt>Date</dt><dd>{{moment-format booking.date 'MMMM D, YYYY'}}</dd>
            <dt>Time</dt><dd>{{moment-format booking.startTime.time 'h:mm a' 'hh:mm:ss'}}</dd>
            <dt>Activity</dt><dd>{{booking.activity.name}}</dd>
            <dt>Category</dt><dd>{{booking.category.name}}</dd>
            {{#if showVendor}}
            <dt>Vendor</dt><dd>{{booking.product.vendor.name}}</dd>
            {{/if}}
          </dl>
          <div class="columns quantities body-count small-12 medium-6 large-5">
            <div class="data-wrapper">
              {{#item-sorter items=booking.product.prices as |price|}}
              <div class="quantity">
                {{#amount-quantity-input price=price quantities=booking.quantities onChange=(route-action "updateBooking" booking price) as |cost|}}
                <div class="price-label">x {{price.name}}...</div>
                <div class="total">
                  {{format-number cost format='$0,0[.]00'}}
                </div>
                {{/amount-quantity-input}}
              </div>
              {{/item-sorter}}
            </div>
            <div class="booking-total row align-justify">
              <p class="">Total &hellip;</p>
              <span class="total">{{format-number booking.total format='$0,0[.]00'}}</span>
            </div>
          </div>

          <div class="columns remove-booking-button align-center align-middle text-center large-text-right small-12 large-3">
            <button onclick={{route-action "removeBooking" booking}} class="button large alert hollow extra-wide">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/item-sorter}}
</main>
<div class="row cart-below">
  <div class="column small-12 medium-3 medium-offset-9 text-center medium-text-right">
    {{link-to "Proceed to Checkout" 'cart.checkout' class="button large" disabledWhen=(lte bookings.length 0)}}
    {{#link-to 'cart.share' class="button small" disabledWhen=(lte bookings.length 0)}}
      <i class="fa fa-share-square-o"></i>
      Share Your Cart
    {{/link-to}}
  </div>
</div>
{{outlet}}
