<div class="activity">
  <div class="row expanded">
    <div class="input-group select-activity">
      <span>Activity:</span>
      <div class="input-group-field" >
        <div class="full-overlay-select" tabindex="0">
          <span class="current">{{activity.name}}</span>
          <ul>
            {{#item-sorter items=activities as |activity|}}
              <li>{{link-to activity.name "categories" activity.slug activeClass="selected"}}</li>
            {{/item-sorter}}
          </ul>
          <div class="full-overlay-black-overlay"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-spaced categories">
    {{#item-sorter items=categories as |category|}}
    <div class="columns small-12 medium-6 large-4" >
      <div class="row align-middle" style="background-image: url('{{category.image.full}}');">
        <div class="darken-overlay"></div>
        <div class="element-name column">
          <p class="lead">{{category.name}}</p>
        </div>
        <div class="element-description column">
          <p>
            {{#link-to 'dateRedirect' (hash activity=activity category=category) tagName="button"}}
              <span>{{category.description}}</span>
            {{/link-to}}
          </p>
        </div>
      </div>
    </div>
    {{/item-sorter}}
    {{#unless categories}}
    <div class="columns small-12" >
      Sorry, no categories found for {{activity.name}}
    </div>
    {{/unless}}
  </div>
</div>
