<div class="activity">
  <div class="row expanded">
    <div class="input-group select-activity">
      <span>Activity:</span>
      <div class="input-group-field" >
        <div class="full-overlay-select" tabindex="0">
          <span class="current">{{activity.name}}</span>
          <ul>
            {{#item-sorter items=activities as |activity|}}
              <li>{{link-to activity.name "categories" activity.slug activeClass="selected"}}</li>
            {{/item-sorter}}
          </ul>
          <div class="full-overlay-black-overlay"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-spaced categories">
    {{#item-sorter items=categories as |category|}}
    <div class="columns small-12 medium-6 large-4" >
      <div class="row align-middle text-center" style="background-image: url('{{category.image.full}}');">
        {{#link-to 'explore' activity.slug category.slug class="element-container"}}
          <div class="darken-overlay"></div>
          <p class="element-name column small-12">{{category.name}}</p>
          <p class="element-description column small-12">{{category.description}}</p>
          <p class="lower-right column small-12">click to continue</p>
        {{/link-to}}
      </div>
    </div>
    {{/item-sorter}}
    {{#unless categories}}
    <div class="columns small-12" >
      Sorry, no categories found for {{activity.name}}
    </div>
    {{/unless}}
  </div>
</div>
