<div class="top-row row expanded">
  Yay!
</div>
{{#each bookings as |booking|}}
<section>
  <h3>{{booking.product.name}}</h3>
  <dl>
    <dt>When</dt><dd>{{booking.date}} @ {{booking.startTime.time}}</dd>
    <dt>Quantities</dt>
    <dd><ul>
    {{#each booking.quantities as |quantity|}}
      <li>{{quantity.id}}:{{quantity.quantity}}</li>
    {{/each}}
    </ul></dd>
  </dl>
</section>
{{/each}}
