<div class="page experiences">
  <div class="top-row row expanded">
    <div class="columns small-12 medium-8 large-10">
      <div class="input-group select-activity">
        <span>Activity:</span>
        <div class="input-group-field">
          <div class="full-overlay-select" tabindex="0">
            <span class="current">{{category.activity.name}} - {{category.name}}</span>
            <ul>
              {{#item-sorter items=activity.categories as |category|}}
              <li>
                {{link-to category.name 'explore' activity.slug category.slug date activeClass="selected"}}
              </li>
              {{/item-sorter}}
            </ul>
            <div class="full-overlay-black-overlay"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns small-12 medium-4 large-2 align-right">
      {{grid-calendar date=date changeDate=(route-action 'changeDate')}}
    </div>
  </div>
  {{outlet}}
</div>
