{{#foundation-modal onClose=(route-action "goToProducts") as |close|}}
  <section class="row column">
      <h3>{{product.name}}</h3>
  </section>
  <section class="row">
    <div class="columns small-12 medium-6">
      <h4 class="subheader">
        Vendor
      </h4>
      <p>{{product.vendor.name}}</p>
    </div>
    <div class="columns small-12 medium-6">
      <div class="row">
        {{product-icons product=product}}
      </div>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <h4 class="subheader">
        Experience
      </h4>
      <p>{{product.experience.name}}</p>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <h4 class="subheader">
        Description
      </h4>
      <p>{{product.description}}</p>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <h4 class="subheader">
        Cancellation Policy
      </h4>
      <p>100% refund up to {{product.vendor.cancellationPolicyDays}} days before the trip.</p>
    </div>
  </section>
  {{booking-form product=product cancel=(action close) submit=(route-action "book")}}
{{/foundation-modal}}
