<div class="experience-middle">
  <div class="row product-count align-top">
    <div class="column small-12 medium-9 large-10">
      <p>Explore <span>{{products.length}}</span> {{if (gt products.length 1) 'products' 'product'}} under "{{experienceName}}"</p>
    </div>
    <div class="column small-12 medium-3 large-2 tripadvisor-logo medium-text-right">
      <img src="/images/tripadvisor.png" />
    </div>
  </div>
  <div class="row align-left products">
    {{#each products as |product|}}
    <div class="columns small-12 medium-6 large-4">
      {{product-card product=product}}
    </div>
    {{else}}
      <p>There are no products available for this experience on this date.  Please select a different experience or a date using the calendar above.</p>
    {{/each}}
  </div>
</div>
{{outlet}}
