<div class="row product-bar align-justify">
  <div class="column product-filters-bar">
    <span class="filters-label pull-left">
      Filters:
    </span>
    <ul class="product-filters">
      {{!----- date -------}}
      <li>
        <button type="button" data-toggle="date-filter" onClick={{action 'toggleDisplayFilter' 'date'}}>
          Pick A Date
          {{chevron-icon direction=(if (eq displayFilter 'date') 'up' 'down')}}
        </button>
        {{#foundation-dropdown id="date-filter" class="product-filter-dropdown"
          show=(eq displayFilter 'date')
          onClose=(action 'hideFilter' 'date')
        }}
          {{grid-calendar defaultDate=date changeDate=(action 'changeDate')}}
        {{/foundation-dropdown}}
      </li>
      {{!----- time -------}}
      <li>
        <button type="button" data-toggle="time-filter" onClick={{action 'toggleDisplayFilter' 'time'}}>
          Start Time
          {{#if timeFilter.length}}
          ({{timeFilter.length}})
          {{/if}}
          {{chevron-icon direction=(if (eq displayFilter 'time') 'up' 'down')}}
        </button>
        {{#foundation-dropdown id="time-filter" class="product-filter-dropdown"
          show=(eq displayFilter 'time')
          onClose=(action 'hideFilter' 'time')
        }}
          {{filter-selector
            clearButtonLabel="All Times"
            options=times valuePath="value"
            selectedValues=timeFilter
            onSelect=(action "toggleFilter" timeFilter)
            clear=(action "clearFilter" "timeFilter")
          }}
        {{/foundation-dropdown}}
      </li>
      {{!----- vendor -------}}
      <li>
        <button type="button" data-toggle="vendor-filter" onClick={{action 'toggleDisplayFilter' 'vendor'}}>
          Vendors
          {{#if vendorFilter.length}}
          ({{vendorFilter.length}})
          {{/if}}
          {{chevron-icon direction=(if (eq displayFilter 'vendor') 'up' 'down')}}
        </button>
        {{#foundation-dropdown id="vendor-filter" class="product-filter-dropdown"
          show=(eq displayFilter 'vendor')
          onClose=(action 'hideFilter' 'vendor')
        }}
          {{filter-selector
            clearButtonLabel="All Vendors"
            options=vendors valuePath="slug"
            selectedValues=vendorFilter
            onSelect=(action "toggleFilter" vendorFilter)
            clear=(action "clearFilter" "vendorFilter")
          }}
        {{/foundation-dropdown}}
      </li>
      {{!----- amenities -------}}
      {{#each amenities as |amenity|}}
      <li>
        <button type="button" data-toggle="amenity-filter-{{amenity.id}}" onClick={{action 'toggleDisplayFilter' amenity.name}}>
          {{amenity.name}}
          {{selectedAmenityOptionCount amenity.options amenityOptionFilter}}
          {{chevron-icon direction=(if (eq displayFilter amenity.name) 'up' 'down')}}
        </button>
        {{#foundation-dropdown id=(concat 'amenity-filter-' amenity.id) class="product-filter-dropdown"
          show=(eq displayFilter amenity.name)
          onClose=(action 'hideFilter' amenity.name)
        }}
          {{filter-selector
            clearButtonLabel="All"
            options=amenity.options valuePath="id"
            selectedValues=amenityOptionFilter
            onSelect=(action "toggleFilter" amenityOptionFilter)
            clear=(action "clearAmenityFilter" amenity)
          }}
        {{/foundation-dropdown}}
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="column shrink product-sort-bar text-right">
    <span>
      Sort By:
    </span>
    <button type="button" data-toggle="product-sorter" onClick={{action 'toggleDisplaySort'}}>
      {{sort}}
      {{chevron-icon direction=(if displaySort 'up' 'down')}}
    </button>
    {{#foundation-dropdown id="product-sorter" class="product-sorter-dropdown"
      show=displaySort onClose=(action 'hideSort')
    }}
      {{product-sorter
        onSelect=(action "updateSortParam")
        sort=sort}}
    {{/foundation-dropdown}}
  </div>
</div>
{{#if isFiltering}}
<div class="row product-bar">
  <div class="columns small-12">
    <ul class="product-filters">
      {{#if date}}
      <li>
        {{filter-label label=(moment-format date 'MMMM Do, YYYY') onClick=(action "changeDate" null)}}
      </li>
      {{/if}}
      {{#each timeFilter as |time|}}
      <li>
        {{filter-label
          value=time
          filters=times
          labelPath="name"
          valuePath="value"
          onClick=(action "removeFilter" timeFilter time)
        }}
      </li>
      {{/each}}

      {{#each vendorFilter as |vendorSlug|}}
      <li>
        {{filter-label
          value=vendorSlug
          filters=vendors
          valuePath="slug"
          onClick=(action "removeFilter" vendorFilter vendorSlug)
        }}
      </li>
      {{/each}}

      {{#each amenityOptionFilter as |amenityOptionId|}}
      <li>
        {{filter-label
          value=amenityOptionId
          filters=amenityOptions
          valuePath="id"
          onClick=(action "removeFilter" amenityOptionFilter amenityOptionId)
        }}
      </li>
      {{/each}}

    </ul>
  </div>
</div>
{{/if}}

<div class="experience-middle">
  <div class="row product-count align-top">
    <div class="column small-12 medium-9 large-10">
      <p>
        Explore <span>{{filteredProducts.length}}</span>
        {{if (gt filteredProducts.length 1) 'products' 'product'}} under "{{experienceName}}"
      </p>
    </div>
  </div>
  <div class="row align-center products align-stretch">
    {{#item-sorter items=filteredProducts by=currentSortOrder as |product|}}
      <div class="columns small-11 medium-5 large-3">
        {{new-product-card product=product}}
      </div>
      {{else}}
      <p>There are no products available for this experience on this date.  Please select a different experience or date using the calendar above.</p>
    {{/item-sorter}}
  </div>
</div>

{{outlet}}
